# Ignore credentials from databases, JWT, etc.
/backend/internal/config/config.yaml
/backend/internal/config/.env

# Docker Compose environment variables (secrets)
.env

# Ignore Go compiled binaries
*.exe

# Ignore temporary build folders
/backend/tmp
/tmp/